OPENAI_API_KEY=
GEMINI_API_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_PRIVATE_KEY=
LANGFUSE_HOST=
DATABASE_URL=
SECRET_KEY=
REFRESH_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=